%%% -*- mode:erlang -*-
{erl_opts, [{parse_transform, lager_transform}]}.

{deps, [
       {lager, "2.0.3", {git, "git://github.com/basho/lager.git", {tag, "2.0.3"}}}
       ,{pgsql, "21", {git, "git://github.com/semiocast/pgsql", "9da5fc0d38e0368264b4acfa1e469d92008ffde3"}}
       ,{episcina, "", {git, "git://github.com/erlware/episcina.git", "589dd170034db599252034169a60fd69e7ec4285"}}
       ]}.
