%%% -*- mode:erlang -*-
[{postgres_pool, []},

 {lager,
  [
  {handlers,
   [{lager_console_backend, [info, {lager_default_formatter,
                                    [date, " ", time, " ", color, "[", severity, "] ",
                                     {module, ["mod=", module, " "], " "},
                                     {function, ["fun=", function], " "},
                                     " ", message, "\n"]}]}]
  }
  ]
 },

 {episcina, [{pools, [{primary,
                       [{size, 10},                        
                        {timeout, 10000},
                        {connect_provider, {pp_db, open,
                                            [[{host, "localhost"}
                                             ,{database, "postgres_pool"}
                                             ,{port, 5432}
                                             ,{user, "postgres"}
                                             ,{password, "password"}]]}},
                        {close_provider, {pp_db, close, []}}]}]
             }
            ]
 }
].
